<div>
    <div>
        <h2>{{pageHeader}}</h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="saved" *ngIf="saved">Data Saved !</span>
    </div>

    <form [formGroup]="workExpForm">
        <div class="saveButton">
            <button (click)="editWorkExperience()" mat-raised-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
                &nbsp;&nbsp;Edit Done
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="cancelEditWorkExperience()" mat-raised-button color="primary" type="button">
                <mat-icon>arrow_back</mat-icon>
                &nbsp;&nbsp;Cancel Edit
            </button>
        </div>
        <div fxLayout="row" class="parent" fxLayout.lg="row " fxLayout.md="row" fxLayout.sm="column"
            fxLayout.xs="column">
            <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="mainContentLeft">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Employer Name
                    </mat-label>
                    <input [readonly]="true" 
                        matInput 
                        formControlName="employerName">
                    <mat-error *ngIf="hasError('employerName', 'required')">Employer Name is required</mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field class="form-field small-form-field" appearance="fill">
                    <mat-label>Province</mat-label>
                    <mat-select (selectionChange)="changeProvince($event)" 
                        [(value)]="selectedProvince"
                        formControlName="province">
                        <mat-option value="">Choose Province</mat-option>
                        <mat-option *ngFor="let p of provinceCollection" value="{{p}}">{{p}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('province', 'required')">
                        Province is required
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field class="form-field small-form-field" appearance="fill">
                    <mat-label>City</mat-label>
                    <mat-select [(value)]="selectedCity" formControlName="city">
                        <mat-option value="">Choose City</mat-option>
                        <mat-option *ngFor="let c of cityCollection" value="{{c}}">{{c}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('city', 'required')">
                        City is required
                    </mat-error>
                </mat-form-field>
                <p></p>
            </div>
            <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="mainContentLeft">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Start Date
                    </mat-label>
                    <input (dateChange)="changeEvent_StartDate($event)" matInput formControlName="startDate"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="hasError('startDate', 'required')">
                        Start-Date is required
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> End Date
                    </mat-label>
                    <input (blur)="onBlurEvent_EndDate($event)" (dateChange)="changeEvent_EndDate($event)" matInput
                        formControlName="endDate" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <span class="duration">&nbsp;&nbsp;&nbsp;&nbsp;Experience : {{duration}} Days</span>
                </mat-form-field>
                <p></p>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Job Details
                    </mat-label>
                    <textarea matInput formControlName="jobDetails">
                    </textarea>
                    <p></p>
                    <mat-error *ngIf="hasError('jobDetails', 'required')">
                        Job-Details is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>