<div class="personalContainer">
    <div fxLayout="row" class="parent" fxLayout.lg="row " fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="80%" fxFlex.xs="100% " fxFlex.sm="100% " fxFlex.md="100% " class="mainContentLeft ">

            <div *ngIf="showAdd">
                <app-add-work-experience 
                    (employerListChanged)="employerListChangedHandler($event)"
                    pageHeader="Add Work Experience">
                </app-add-work-experience>
            </div>

            <div *ngIf="showEdit">
                <app-edit-work-experience 
                    (editDoneChanged)="editDoneChangedHandler($event)" 
                    [editWoExp]="editWoExp"
                    pageHeader="Edit Work Experience ">
                </app-edit-work-experience>
            </div>


        </div>

        <div fxFlex="20% " fxFlex.xs="100% " fxFlex.sm="100% " fxFlex.md="100% " class="mainContentLeft ">

            <div *ngIf="(employerList?.length> 0)">
                <div class="employersHeader">
                    <span>
                        <u>Employers</u>
                    </span>
                </div>
                <div class="woEditSpan" 
                    *ngFor="let emp of employerList">
                    <div class="empEditDiv">
                        <span class="editWExpIcon" 
                            (click)=" editWorkExperience(emp) ">
                            <mat-icon>edit</mat-icon>
                        </span> &nbsp;
                        <span *ngIf="emp.length>25"> {{emp.substring(0, 25)}},,,
                        </span>
                        <span *ngIf="emp.length<=25">
                            {{emp}}
                        </span> &nbsp;
                        <span class="removeWExpIcon" 
                            (click)="removeWorkExperience(emp)">
                            <mat-icon>delete</mat-icon>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>